<!DOCTYPE html>
<html>
<head>
  <title>Audiogram - by Campfire</title>
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta name="author" content="Campfire team">
  <style type="text/css">
  
  @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
  
  body {
    margin: 0;
    padding: 0;
    background: #6A3DC5;
    /*background: radial-gradient(rgb(132, 56, 202), rgba(61, 21, 116, 1));*/
  }

  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  #logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  #lettersDiv {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 400px;

  }

  #lettersDiv span {
    display: inline-block;
    margin: 0 10px 0 0 ;
    color: #fff;
    letter-spacing: -5px;
    font-family: "Spartan";
    font-size: 80px;
    line-height: 1.5;
    opacity: 0.35;
  }

  #storyPlayButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 300px;
    width: 100px;
    height: 100px;
    display: block;
    border: 3px solid rgba(255, 255, 255,.8);
    background: rgba(255, 255, 255,.28);
    color: #fff;
    font-family: "Spartan";
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
    z-index: 3;
  }

  #storyPlayButton:hover, #storyPlayButton:active {
    transform: translateY(-3px);
  }

  #storyPlayButton:active {
    border: 3px solid rgba(255, 255, 255,.8);
    background: rgb(255, 255, 255);
    color: #6A3DC5;
  }

  .chunk {
    position: absolute;
    opacity: 0;
  }

</style>
<script type="text/javascript" src="anime.min.js"></script>
</head>
<body>

<div class="wrapper">
  <button id="storyPlayButton">
    PLAY
  </button>
  <div class="letters" id="lettersDiv">
  </div>
  <audio id="storyAudio"
    src="audio.mp3">
  </audio>
</div>

<a href="https://meet.getcampfire.com" id="logo">
  <img 
    alt="Campfire logo"
    src="campfire.png"
    srcset="campfire-2x.png 2x"
  >
  </a>
<script type="text/javascript">
    var transcript = {
      "version":"1.0.0",
      "segments":[
        {
          "speaker":"Todd",
          "startTime":2.28,
          "endTime":2.52,
          "body":"Once"
        },
        {
          "speaker":"Todd",
          "startTime":2.52,
          "endTime":2.64,
          "body":"there"
        },
        {
          "speaker":"Todd",
          "startTime":2.64,
          "endTime":2.76,
          "body":"was"
        },
        {
          "speaker":"Todd",
          "startTime":2.76,
          "endTime":2.85,
          "body":"a"
        },
        {
          "speaker":"Todd",
          "startTime":2.85,
          "endTime":3.18,
          "body":"rich"
        },
        {
          "speaker":"Todd",
          "startTime":3.18,
          "endTime":3.33,
          "body":"and"
        },
        {
          "speaker":"Todd",
          "startTime":3.33,
          "endTime":3.72,
          "body":"beautiful"
        },
        {
          "speaker":"Todd",
          "startTime":3.72,
          "endTime":4.14,
          "body":"kingdom"
        },
        {
          "speaker":"Todd",
          "startTime":4.14,
          "endTime":4.29,
          "body":"that"
        },
        {
          "speaker":"Todd",
          "startTime":4.29,
          "endTime":4.74,
          "body":"stretched"
        },
        {
          "speaker":"Todd",
          "startTime":4.77,
          "endTime":5.22,
          "body":"beyond"
        },
        {
          "speaker":"Todd",
          "startTime":5.22,
          "endTime":5.31,
          "body":"the"
        },
        {
          "speaker":"Todd",
          "startTime":5.31,
          "endTime":5.85,
          "body":"horizon"
        },
        {
          "speaker":"Todd",
          "startTime":5.85,
          "endTime":5.94,
          "body":"in"
        },
        {
          "speaker":"Todd",
          "startTime":5.94,
          "endTime":6.12,
          "body":"all"
        },
        {
          "speaker":"Todd",
          "startTime":6.12,
          "endTime":6.96,
          "body":"directions."
        },
        {
          "speaker":"Todd",
          "startTime":7.71,
          "endTime":7.83,
          "body":"But"
        },
        {
          "speaker":"Todd",
          "startTime":7.83,
          "endTime":7.89,
          "body":"the"
        },
        {
          "speaker":"Todd",
          "startTime":7.89,
          "endTime":8.19,
          "body":"prince"
        },
        {
          "speaker":"Todd",
          "startTime":8.19,
          "endTime":8.28,
          "body":"of"
        },
        {
          "speaker":"Todd",
          "startTime":8.28,
          "endTime":8.49,
          "body":"that"
        },
        {
          "speaker":"Todd",
          "startTime":8.49,
          "endTime":8.88,
          "body":"kingdom"
        },
        {
          "speaker":"Todd",
          "startTime":8.88,
          "endTime":9.15,
          "body":"was"
        },
        {
          "speaker":"Todd",
          "startTime":9.21,
          "endTime":9.6,
          "body":"very"
        },
        {
          "speaker":"Todd",
          "startTime":9.6,
          "endTime":10.2,
          "body":"unhappy."
        },
        {
          "speaker":"Todd",
          "startTime":10.83,
          "endTime":10.86,
          "body":"He"
        },
        {
          "speaker":"Todd",
          "startTime":10.86,
          "endTime":10.98,
          "body":"had"
        },
        {
          "speaker":"Todd",
          "startTime":11.01,
          "endTime":11.37,
          "body":"warts"
        },
        {
          "speaker":"Todd",
          "startTime":11.37,
          "endTime":11.52,
          "body":"all"
        },
        {
          "speaker":"Todd",
          "startTime":11.55,
          "endTime":11.76,
          "body":"over"
        },
        {
          "speaker":"Todd",
          "startTime":11.76,
          "endTime":11.94,
          "body":"his"
        },
        {
          "speaker":"Todd",
          "startTime":11.94,
          "endTime":12.45,
          "body":"face"
        },
        {
          "speaker":"Todd",
          "startTime":12.63,
          "endTime":12.81,
          "body":"and"
        },
        {
          "speaker":"Todd",
          "startTime":12.81,
          "endTime":13.29,
          "body":"everywhere"
        },
        {
          "speaker":"Todd",
          "startTime":13.32,
          "endTime":13.47,
          "body":"he"
        },
        {
          "speaker":"Todd",
          "startTime":13.47,
          "endTime":13.86,
          "body":"went,"
        },
        {
          "speaker":"Todd",
          "startTime":13.98,
          "endTime":14.28,
          "body":"people"
        },
        {
          "speaker":"Todd",
          "startTime":14.28,
          "endTime":14.73,
          "body":"teased"
        },
        {
          "speaker":"Todd",
          "startTime":14.73,
          "endTime":15,
          "body":"him"
        },
        {
          "speaker":"Todd",
          "startTime":15.18,
          "endTime":15.27,
          "body":"and"
        },
        {
          "speaker":"Todd",
          "startTime":15.27,
          "endTime":15.63,
          "body":"laughed"
        },
        {
          "speaker":"Todd",
          "startTime":15.63,
          "endTime":15.72,
          "body":"at"
        },
        {
          "speaker":"Todd",
          "startTime":15.75,
          "endTime":15.87,
          "body":"him."
        },
        {
          "speaker":"Todd",
          "startTime":16.77,
          "endTime":16.92,
          "body":"So"
        },
        {
          "speaker":"Todd",
          "startTime":16.92,
          "endTime":16.98,
          "body":"he"
        },
        {
          "speaker":"Todd",
          "startTime":16.98,
          "endTime":17.26,
          "body":"mostly"
        },
        {
          "speaker":"Todd",
          "startTime":17.26,
          "endTime":17.610000000000003,
          "body":"stayed"
        },
        {
          "speaker":"Todd",
          "startTime":17.610000000000003,
          "endTime":17.71,
          "body":"in"
        },
        {
          "speaker":"Todd",
          "startTime":17.73,
          "endTime":17.94,
          "body":"his"
        },
        {
          "speaker":"Todd",
          "startTime":17.94,
          "endTime":18.240000000000002,
          "body":"room"
        },
        {
          "speaker":"Todd",
          "startTime":18.240000000000002,
          "endTime":18.78,
          "body":"alone"
        },
        {
          "speaker":"Todd",
          "startTime":18.78,
          "endTime":18.990000000000002,
          "body":"and"
        },
        {
          "speaker":"Todd",
          "startTime":18.990000000000002,
          "endTime":19.110000000000003,
          "body":"miserable"
        }
      ]
    }

  var audio = document.getElementById("storyAudio")
  var lettersDiv = document.getElementById("lettersDiv")
  var storyPlayButton = document.getElementById("storyPlayButton")
  storyPlayButton.addEventListener("click", playAudio)


  var tl = anime.timeline({
    easing: 'easeInOutExpo',
  });

  chunks = chunkArray(transcript.segments, 10)

  chunks.forEach(function(item, index) {
    let chunk = document.createElement("div")
    chunk.setAttribute("id", "chunk_"+index)
    chunk.classList.add("chunk")
    lettersDiv.appendChild(chunk)
    
    tl.add({
      targets: "#chunk_"+index,
      opacity: 1
    }, item[0].startTime * 1000)

    tl.add({
      targets: "#chunk_"+index,
      opacity: 0
    }, item[item.length - 1].endTime * 1000)


    chunks[index].forEach(function(item, index){
      let segment = document.createElement("span")
      segment.setAttribute("id", "word_"+index)
      segment.innerHTML = item.body
      chunk.appendChild(segment)

      tl.add({
        targets: "#word_"+index,
        translateY: -2,
        opacity: 1
      }, item.startTime * 1000)
      })
  })

  // transcript.segments.forEach(function(item, index){
  //   let segment = document.createElement("span")
  //   segment.setAttribute("id", "word_"+index)
  //   segment.innerHTML = item.body
  //   lettersDiv.appendChild(segment)

  //   tl.add({
  //     targets: "#word_"+index,
  //     translateY: [0, -2, 0],
  //     opacity: [.35, 1, .8]
  //   }, item.startTime * 1000)
  // })

  // <% @words.each_with_index do |word, index| %>
  //   tl.add({
  //       targets: '#word_<%= index %>',
  //       // translateY: [50, 0, 0],
  //       opacity: [.8, .2]
  //   }, <%= word[:start] + 1000 %>)
  // <% end %>

  tl.add({
        targets: '.letter-scroll',
        translateY: [1000],
        opacity: [.3]
    },"+=1000")

  tl.add({
        targets: '#footer',
        translateY: [1000],
        opacity: [.3]
    },"-=900")


  tl.pause();

  audio.onloadedmetadata = function() {

    var promise = audio.play();

    if (promise !== undefined) {
      promise.then(_ => {
        audio.pause();
        playAudio()
      }).catch(error => {
        storyPlayButton.classList = "show"
      });
    }
  };
  function playAudio(){
    storyPlayButton.classList = ""

    setTimeout(function(){
      tl.play();
      setTimeout(function(){
        audio.play();
      }, 400)
    }, 1000)

    
    var progress = anime({
      easing: 'linear',
      targets: '.progress',
      width: ['0%', '100%'],
      duration: audio.duration * 1000,
      complete: alldone
    });
  };

  function alldone(){
  }

  function chunkArray(array, size) {
    let result = []
    for (let i = 0; i < array.length; i += size) {
        let chunk = array.slice(i, i + size)
        result.push(chunk)
    }
    return result
}

</script>
</body>
</html>